body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin: 0; padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
th { font-weight:normal;}
body{margin:0 auto; font:14px "Microsoft YaHei"; color:#000; font-family:"Microsoft YaHei";}
input { font:14px "Microsoft YaHei"; text-indent:4px;*text-indent:0px; font-family:"Microsoft YaHei"; color:#999;outline: none;}
textarea,input{word-wrap:break-word; word-break:break-all; padding:0px;}
ul,li{list-style-type:none;}
.wrap{
    max-width: 768px;
    background-color: #2e3138;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 12px;
    color: #d8d9da;
}
.yellow{
    color: #ffd800;
}
.content{
    background-color: #444953;
}
.form-group{
    margin-left: 0.2rem;
}
.top input, select{
    height: 30px;
    outline: none;
}
.top{
    padding: 0.4rem 0 0.4rem 0.1rem;
}

.car-info{
    margin-top: 1.5rem;
    position: relative;
}
.car-info .car-img{
    position: absolute;
    top: -1rem;
    left: 0.3rem;
}
.car-info img{
    width: 40%;
}

.car-info .car-text li{
    float: left;
    padding: 0.3rem 0.38rem;
}
.car-info .car-text:after{
    content: '';
    display: table;
    clear: both;
}
.car-info .car-text{
    margin-left: 25%
}
.car-info .car-text span{
   display:block;
}
.car-data{
    margin-top: 0.6rem;
}
.car-data .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #444953;
    border:1px solid #444953;
}
.car-data a {
    color: #686b71;
    text-decoration: none;
    background: #23252b;
}

.car-data .nav-tabs {
    border-bottom: 1px solid #444953;
    background: #2e3138;
}
#myTabContent table{
    width: 98%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 9px;
}
#myTabContent table>tr{
    padding-left:20px;
}
#myTabContent .table > thead > tr > th,
.table > tbody > tr > td{
    border-bottom: 1px solid #60646c;
    height: 30px;
    line-height: 30px;
}
#myTabContent .table > tbody > tr:last-child>td{
    border-bottom: none;
}
#myTabContent .table > tbody > tr>td:last-child{
    text-align: center;
}
#myTabContent .table > thead > tr > th:last-child{
    text-align: center;
}
#reset-btn{
    color: #686b71;
    background: #23252b;
    border: none;
}
#myTabContent button{
    font-size: 12px;
}
.header-text{
    color: #686b71;
}
#history{
    margin-top: 10px;
    word-wrap: break-word;
}
#history span{
    display: inline-block;
    width: 60px;
    height: 25px;
    background: url("../images/btn.png") no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 20px;
    margin-left: 6px;
}
#history span:first-child{
    background: url("../images/but-first.png") no-repeat;
    background-size: cover;
}
#runningField tr:first-child{
    border: none;
}
